header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  form {
    input {
      margin-right: 4px;
    }
  }

  border-bottom: 1px solid black;
}

.videos {
  max-width: 1024px;
  margin: 0 auto;

  .video-unit {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;

    &__iframe {
      margin-right: 10px;
    }

    &__vote {
      button {
        margin-right: 10px;

        &.upvote.voted {
          background: #70d12c;
        }

        &.downvote.voted {
          background: #e52020;
        }
      }
    }

    @media screen and (max-width: 768px) {
      display: block; 

      &__iframe {
        width: 100%;
      }
    }
  }
}
